
main {
  width: calc(100% - 300px);
}

html {
  background: #282c34;
  
}


.App {
  text-align: center;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.container div {
  width: 50%;
  padding: 2rem;
  background-color: #628395;
  text-align: center;
  color: #F7F7F2;
}
